
/* css styles */

:root {
    --nav-color: rgb(230, 240, 255);
    --title-color: rgb(30, 110, 55);
    --tabs-color: rgb(235, 235, 235);
    --tabs-highlight-color: rgb(255, 245, 190);
    --body-color: rgb(255, 255, 255);
}





/* WIDE ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
@media (min-width: 768px) {

    /* NAV TABS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    
    div.navbar {
        padding-top: 10px;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        color: black;
        background-color: var(--body-color);
    }
    
    .nav-tabs {
        border-bottom: none;
    }
    
    .nav-tabs>li>a{
        background-color: var(--tabs-color);
        border-bottom: none;
        margin-right: 7px;
        padding: 10px 20px 15px 20px;
        top: 4px;
    }
    
    .nav-tabs>li>a,.nav-tabs>li>a:hover {
        border-color: black;
    }
    
    .navbar-default .navbar-nav>li>a {
        color: black;
    }
    
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: blue;
    }
    
    #navbar>ul.nav.navbar-nav.nav-tabs>li>a:focus, #navbar>ul.nav.navbar-nav.nav-tabs>li>a:hover{
        background-color: var(--tabs-highlight-color);
    }

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        border: thin solid black;
        border-bottom: none;
        cursor: default;
        padding-bottom: 16px;
    }
    
    #navbar>ul.nav.navbar-nav.nav-tabs>li.active>a:focus, #navbar>ul.nav.navbar-nav.nav-tabs>li.active>a:hover{
        background-color: var(--body-color);
    }

    /* OTHER NAV - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
        margin-left: -35px;
    }
}





/* NARROW ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
@media (max-width: 767px) {

    /* NAV TABS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    
    .nav-tabs>li>a {
        border: none;
        border-radius: 0px;
    }
    .nav-tabs>li>a:hover {
        border: none;
        border-radius: 0px;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        border: none;
        border-radius: 0px;
        cursor: default;
    }

    /* OTHER NAV - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
    
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        color: blue;
        background-color: transparent;
    }
}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~*/





/* NAV - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.navbar-default .navbar-brand {
    color:var(--title-color);
}

.navbar-default {
    background-color: var(--nav-color);
    border-color: black;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: blue;
    /*background-color: transparent;*/
}

/* BODY + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + + */

body{
    background-color: var(--body-color);
}
